@model IEnumerable<SanPhamChiTiet>

<div class="col-sm-3">

	@Html.Partial("_sidebar")
</div>
	<!-- Sản phẩm nổi bật -->
	<div class="col-sm-9 padding-right">
		<div class="features_items">
			<h2 class="title text-center">Sản phẩm nổi bật</h2>
			@foreach (var item in Model)
			{
				<div class="col-sm-4">
					<div class="product-image-wrapper">
						<div class="single-products">
							<div class="productinfo text-center">

								<img src="@item.Anh" />
								<h2>@item.Gia.ToString("N0")</h2>
								<p style="font-size: 15px; font-weight: bold;">@item.SanPham?.TenSanPham</p>


								<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>

							</div>

							<div class="product-overlay">
								<div class="overlay-content">
									<h2>@item.Gia.ToString("N0")</h2>
									<p style="font-size: 15px; font-weight: bold;">@item.SanPham?.TenSanPham</p>
									<p>@item.SanPham?.MoTa</p>
									<p>@item.SanPham?.Brand?.TenThuongHieu</p>
									<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>

								</div>

							</div>
						</div>
					</div>

				</div>
			}
		</div><!-- /features_items -->
	</div>
	<script>
		$(document).ready(function () {
			$('.panel-title a').click(function (e) {
				var $target = $($(this).attr('href'));
				if ($target.hasClass('in')) {
					$target.collapse('hide');
				}
			});
		});
	</script>
